@page
@model HouHavn.Web.Pages.Lists.Berths.DeleteModel

@{
    ViewData["Title"] = "Slet bådplads";
}

<h2>Slet bådplads</h2>

<h3>Er du sikker på at du vil slette denne bådplads?</h3>
<div>
    <hr />
    <p>
        @Html.DisplayNameFor(model => model.Berth.Bridge): @Html.DisplayFor(model => model.Berth.Bridge)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Berth.BerthId): @Html.DisplayFor(model => model.Berth.BerthId)
    </p>

    
    <form method="post">
        <input type="hidden" asp-for="Berth.BerthId" />

        <div class="submit">
            <input type="submit" value="Slet bådplads" class="delete" />
        </div>
        <a class="button" href='javascript:history.go(-1)'>Tilbage</a>
    </form>
</div>