body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

header {
    box-shadow: 0 0 10px black;
    align-items: center;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;

    >div{
        width: 70%;
        display: flex;
        margin: 0 auto;

        .logo {
            text-decoration: none;
            color: #333;
            margin-right: 20px;
            position: relative;
            z-index: 100;
            background: white;
        }

        nav {

            ul {
                list-style: none;
                display: flex;

                li {
                    position: relative;
                    z-index: 3;
                    user-select: none;

                    span {
                        padding: 15px 40px;
                        display: block;
                        position: relative;
                        z-index: 2;
                        background: white;
                    }

                    &:hover{
                        span {
                            background: #eee;
                        }

                        div {
                            transform: translateY(100%);
                        }
                    }

                    div {
                        position: absolute;
                        bottom: 0;
                        background: white;
                        width: 100%;
                        z-index: initial;
                        transition: .3s;
                  

                        a {
                            display: block;
                            padding: 10px 20px;
                            border: 1px solid #ccc;
                            color: black;
                            text-decoration: none;

                            &:hover {
                                background: #eee;
                            }

                            &:nth-child(2) {
                                border-top: 0;
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

main{
    width: 70%;
    padding: 40px 15% 60px;
    /* header - footer - main-padding */
    min-height: calc(100vh - 52px - 52px - 100px);

    .links {
        padding: 20px 0;

        a{
            color: black;
            text-decoration: none;
            display: block;
            line-height: 70px;
            font-size: 1.3em;

            &:hover{
                background: #eee;
            }
        }
    }
}

footer{
    width: 70%;
    padding: 15px 15%;
    box-shadow: 0 0 10px black;
}

form {
    max-width: 500px;

    * {
        box-sizing: border-box;
    }

    div.radio {
        margin-top: 20px;


        label {
            margin: 10px;
            display: block;
        }
    }

    div.input {
        height: 50px;
        margin-top: 20px;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #ccc;


        > label, input[type=text], input[type=email], input[type=number] {
            height: 100%;
            width: 100%;
            border: 0;
            position: absolute;
            outline: 0;
        }

        input:focus + label, input:not(:placeholder-shown) + label {
            bottom: 20px;
            font-size: .9rem;
            color: #5D9BFB;

            & + .slider {
                transform: translateX(0);
            }
        }

        input[type=text], input[type=email], input[type=number] {
            padding-top: 20px;
            padding-left: 5px;
            font-size: 1em;
        }

        label {
            transition: .3s;
            height: 50%;
            bottom: 0;
            left: 5px;
            pointer-events: none;
        }

        input[type=submit] {
            width: 100%;
            height: 100%;
            pointer-events: all;
            border: none;
            background: white;
        }

        .slider {
            outline: none;
            transition: .3s ease-out;
            position: absolute;
            bottom: 0;
            height: 3px;
            width: 100%;
            background: #5D9BFB;
            margin: 0;
            transform: translateX(-100%);
        }
    }

    div.textarea {
        margin-top: 20px;

        label {
            display: block;
        }

        textarea {
            padding: 10px;
            width: 100%;
            height: 150px;
            resize: none;
            outline: none;
        }
    }

    div.submit {
        margin-top: 20px;
        input {
            padding: 15px 30px;
            border: none;
            background: #5D9BFB;
            font-size: 1rem;
            color: white;
            transition: background .3s;

            &:hover {
                background: darken(#5D9BFB, 10%);
            }
        }
    }

    div.select{
        margin-top: 20px;

        select{
            width: 100%;
            padding: 5px;
        }
    }
}

.table{
    overflow-x: auto;
    border-spacing: 0;
    th, td{
        padding: 5px 15px;
    }

    tr:nth-child(even){
        background: #eee;
    }
}

.error{
    color: #dd0000;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.notavailable {
    background-image: linear-gradient(to right, rgba(0,0,0,0) 60%, rgba(0,255,0,0.8));
}
.available {
    background-image: linear-gradient(to right, rgba(0,0,0,0) 60%, rgba(255,0,0,0.8));
}

.berthdisplay{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    height: 300px;
    flex-wrap: wrap;

    div{
        height: 10%;
        width: 14%;
        box-sizing: border-box;
        margin-right: 2.6%;

        a{
            display: block;
            text-decoration: none;
            color: black;
            height: 100%;
        }
    }

}

@media screen and (max-width:660px){
    main {
        padding: 40px 5% 60px;
        /* header - footer - main-padding */
        min-height: calc(100vh - 89px - 52px - 100px);
        width: 90%;
    }


    header >div{
        flex-direction: column;
        width: 100vw;

        .logo {
            text-align: center;
            width: 100%;
        }

        nav{
            display: flex;
            justify-content: space-around;
        }
    }
}

