body {
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter; }

header {
  box-shadow: 0 0 10px black;
  align-items: center;
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  background: #123456; }
  header > div {
    width: 70%;
    display: flex;
    margin: 0 auto;
    position: relative;
    align-items: center; }
    header > div .logo {
      text-decoration: none;
      color: white;
      margin-right: 20px;
      position: relative;
      z-index: 100;
      background: #123456; }
    header > div nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header > div nav form {
        justify-content: flex-end;
        position: absolute;
        right: 0;
        display: flex; }
        header > div nav form input {
          font-size: .9em;
          padding: 5px;
          border: none;
          border: 2px solid #5D9BFB;
          outline: none; }
        header > div nav form input[type=text] {
          border-radius: 10px 0 0 10px;
          width: 250px;
          border-right: none; }
        header > div nav form input[type=submit] {
          padding: 5px 15px;
          background: #5D9BFB;
          transition: .3s;
          color: white;
          border-radius: 0 10px 10px 0; }
          header > div nav form input[type=submit]:hover {
            background: #2b7cfa;
            border-color: #2b7cfa; }
      header > div nav ul {
        list-style: none;
        display: flex; }
        header > div nav ul li {
          position: relative;
          z-index: 3;
          user-select: none; }
          header > div nav ul li span {
            padding: 15px 40px;
            display: block;
            position: relative;
            z-index: 2;
            background: #123456;
            color: white; }
          header > div nav ul li:hover span {
            background: #1b4e80; }
          header > div nav ul li:hover div {
            transform: translateY(100%); }
          header > div nav ul li div {
            position: absolute;
            bottom: 0;
            background: #123456;
            color: white;
            width: 100%;
            transition: .3s; }
            header > div nav ul li div a {
              display: block;
              padding: 10px 20px;
              border: 1px solid #ccc;
              border-left: none;
              border-right: none;
              color: white;
              text-decoration: none; }
              header > div nav ul li div a:hover {
                background: #1b4e80; }
              header > div nav ul li div a:first-child {
                border-bottom: 0; }
              header > div nav ul li div a:not(:first-child):not(:last-child) {
                border-bottom: 0; }

main {
  width: 70%;
  padding: 40px 15% 60px;
  /* header - footer - main-padding */
  min-height: calc(100vh - 52px - 52px - 100px); }
  main h1 {
    margin-bottom: 20px; }
  main .links {
    padding: 20px 0; }
    main .links a {
      color: black;
      text-decoration: none;
      display: block;
      line-height: 70px;
      font-size: 1.3em; }
      main .links a:hover {
        background: #eee; }

footer {
  width: 70%;
  padding: 15px 15%;
  box-shadow: 0 0 10px black;
  color: white;
  background: #123456; }

form {
  max-width: 500px; }
  form .check-box {
    margin-top: 20px; }
  form .check-box-label {
    padding: 10px; }
  form .check-box:checked + div.input {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0; }
  form * {
    box-sizing: border-box; }
  form div.radio {
    margin-top: 20px; }
    form div.radio label {
      margin: 10px;
      display: block; }
  form div.input {
    transition: .3s;
    opacity: 1;
    height: 50px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ccc; }
    form div.input > label, form div.input input[type=text], form div.input input[type=email], form div.input input[type=number] {
      height: 100%;
      width: 100%;
      border: 0;
      position: absolute;
      outline: 0; }
    form div.input input:focus + label, form div.input input:not(:placeholder-shown) + label {
      bottom: 20px;
      font-size: .9rem;
      color: #5D9BFB; }
      form div.input input:focus + label + .slider, form div.input input:not(:placeholder-shown) + label + .slider {
        transform: translateX(0); }
    form div.input input[type=text], form div.input input[type=email], form div.input input[type=number] {
      padding-top: 20px;
      padding-left: 5px;
      font-size: 1em; }
    form div.input label {
      transition: .3s;
      height: 50%;
      bottom: 0;
      left: 5px;
      pointer-events: none; }
    form div.input input[type=submit] {
      width: 100%;
      height: 100%;
      pointer-events: all;
      border: none;
      background: white; }
    form div.input .slider {
      outline: none;
      transition: .3s ease-out;
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 100%;
      background: #5D9BFB;
      margin: 0;
      transform: translateX(-100%); }
  form div.textarea {
    margin-top: 20px; }
    form div.textarea label {
      display: block; }
    form div.textarea textarea {
      padding: 10px;
      width: 100%;
      height: 150px;
      resize: none;
      outline: none; }
  form div.submit {
    margin-top: 20px; }
    form div.submit input {
      padding: 15px 30px;
      border: none;
      font-size: 1rem;
      color: white;
      transition: background .3s; }
      form div.submit input.create {
        background: #5D9BFB; }
      form div.submit input.delete {
        background: #f00; }
      form div.submit input.create:hover {
        background: #2b7cfa; }
      form div.submit input.delete:hover {
        background: #cc0000; }
  form div.select {
    margin-top: 20px; }
    form div.select select {
      width: 100%;
      padding: 5px; }

table {
  overflow-x: auto;
  border-spacing: 0; }
  table th, table td {
    padding: 5px 15px; }
  table tr:nth-child(even) {
    background: #eee; }
  table a {
    color: black;
    transition: .3s; }
    table a:hover {
      color: #5D9BFB; }

main a.delete:hover {
  color: #dd0000; }

main a {
  color: black;
  transition: .3s; }
  main a:hover {
    color: #5D9BFB; }

.error {
  color: #dd0000; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /*top: -5px;*/
    left: 110%;
    top: 14.5px;
    transform: translateY(-50%); }
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.notavailable {
  background-image: linear-gradient(to right, transparent 60%, rgba(0, 255, 0, 0.8)); }

.available {
  background-image: linear-gradient(to right, transparent 60%, rgba(255, 0, 0, 0.8)); }

.berthdisplay {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  height: 300px;
  flex-wrap: wrap; }
  .berthdisplay div {
    height: 10%;
    width: 14%;
    box-sizing: border-box;
    margin-right: 2.6%; }
    .berthdisplay div a {
      display: block;
      text-decoration: none;
      color: black;
      height: 100%; }

dl {
  margin-top: 20px; }
  dl dt {
    color: #5D9BFB;
    font-size: .9rem; }
  dl dd {
    padding: 0 15px 15px; }

@media screen and (max-width: 660px) {
  main {
    padding: 40px 5% 60px;
    /* header - footer - main-padding */
    min-height: calc(100vh - 89px - 52px - 100px);
    width: 90%; }
  header > div {
    flex-direction: column;
    width: 100vw; }
    header > div .logo {
      text-align: center;
      width: 100%;
      margin: 0; }
    header > div nav {
      display: flex;
      justify-content: space-around; } }
