@page
@model HouHavn.Web.Pages.Creation.BerthsModel

@{
    ViewData["Title"] = "Opret bådplads";
}

<h2>Opret bådplads</h2>

<hr />
<form method="post">
    <div asp-validation-summary="All" class="error"></div>

    <div class="input">
        <input asp-for="Berth.BerthId"  placeholder=" "/>
        <label asp-for="Berth.BerthId"></label>
        <div class="slider"></div>
    </div>
    <div>
        <span asp-validation-for="Berth.BerthId" class="error"></span>
    </div>

    <div class="input">
        <input asp-for="Berth.Bridge" placeholder=" " />
        <label asp-for="Berth.Bridge"></label>
        <div class="slider"></div>
    </div>
    <div>
        <span asp-validation-for="Berth.Bridge" class="error"></span>
    </div>

    <div class="submit">
        <input type="submit" value="Opret bådplads" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
