<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hou Havn administration</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <!-- https://fonts.google.com/specimen/Raleway?selection.family=Open+Sans|Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap" rel="stylesheet">

    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>*@

</head>
<body>
    <header>
        <div>
            <a asp-page="/index" class="logo"><h1>Hou Havn</h1></a>
            <nav>
                <ul>
                    <li>
                        <span>Opret</span>
                        <div>
                            <a asp-page="/creation/berths">Bådplads</a>
                            <a asp-page="/creation/People">Kunde</a>
                            <a asp-page="/creation/Boats">Båd</a>
                        </div>
                    </li>
                    <li>
                        <span>Se liste over</span>
                        <div>
                            <a asp-page="/Lists/Boats/index">Både</a>
                            <a asp-page="/Lists/Berths/index">Bådpladser</a>
                            <a asp-page="/Lists/AllBerths">Bådpladser skabelon</a>
                        </div>
                    </li>
                </ul>
                <form action="/Creation/SearchResult" method="get" autocomplete="off">
                    <input type="text" placeholder="Søg" name="searchQuery" />
                    <input type="submit" value="Søg" />
                </form>
            </nav>
        </div>

    </header>

    <partial name="_CookieConsentPartial" />
    <main role="main">
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2019 - HouHavn.Web<a asp-page="/Privacy"></a></p>
        </div>
    </footer>

    <!-- #region scripts -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>


    <!-- #endregion -->


    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
