@page
@model HouHavn.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-page="Creation/Berths">Berths</a><br/>
<a asp-page="Creation/People">People</a><br />
<a asp-page="Creation/Boats">Boats</a><br /><br />

<a asp-page="Lists/Berths">Berths list</a><br/>
<a asp-page="Lists/AllBerths">All berths list</a>

