@page
@model HouHavn.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Forside";
}

<h1>Velkommen til Hou Havn administration</h1>

<div class="links">
    <h3><a asp-page="Creation/Berths">Opret bådpladser</a></h3>
    <h3><a asp-page="Creation/People">Opret kunder</a></h3>
    <h3><a asp-page="Creation/Boats">Opret både</a></h3>

    <h3><a asp-page="Lists/AllBerths">Liste over bådpladser</a></h3>
</div>

